@import "tailwindcss";

html, body {
	height: 100%;
}

body {
	min-height: 100vh;
}

/* Light theme (default) */
body {
	background-color: #f9fafb;
	color: #111827;
}

/* Dark theme */
.dark body {
	background-color: #18181b;
	color: #f3f4f6;
}
